*{
    margin: 0%;
    padding: 0%;
}
.top{
    height: 100vh;
    width: 100%;
    /* background: url(./1126dc51f13e75c8afe8a3d29ef1be8f.jpg); */
    background-size: cover;
    font-size: x-large;
    left: 25%;
    background-color: black;
    color: white;
    
}
    
.header1{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* background-color:skyblue; */
}
.home1{
    
    text-align: center;
    text-decoration: aqua;
    font-style: oblique;
    /* bottom: 50px; */
}
.home1:hover{
    color: skyblue;
}
.home1:hover h3{
    color:rgb(25, 183, 25);
    transition: 3s;
}

/* .aboutme{
    text-align: center; */

.contactMe{
    font-size: xx-large;
    display: flex;
    justify-content: space-evenly;
    

}
.forms{
    text-align: center;

}
.form1{
    border: white,2px,solid;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.content1 form{
width: 380px;
max-width: 100%;
position: relative;
}
.content1 form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.content1 form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
}
.aboutText{
    font-style: oblique;
    font-size: x-large;
}
.aboutText h2{
    color:pink;
    text-transform: 2px;
    margin-bottom:20px ;
}
button{
    background-color: #f9004d;
    columns: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 4s;
}
button:hover{
    background-color:whitesmoke;
    border: 2px solid;
    /* cursor: pointer; */
}
.main{
    font-size: medium;
}
